<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Varia Librorum</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<style>
body {
	background-color: rgba(205, 211, 222, 0.3);
}

fieldset {
	border: 2px solid #ffffff;
}

button {
	margin-top: 40%;
}

/* input[type=submit] {
	margin-left: 102%;
} */
</style>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Welcome to Varia Librorum</h1>
		</div>
		<fieldset>
			<legend th:text="${session.registrationmessage}"
				th:unless="${session == null}">Account created.</legend>
			<legend th:if="${session == null}">Please log
				in.</legend>

			<p class="error" th:text="${errorMessage}"></p>
			<form action="#" th:action="@{/login}" th:object="${loginForm}"
				method="post">
				<table>
					<tr>
						<td>E-mail</td>
						<td><input type="email" th:field="*{email}"
							th:required="required" /></td>
						<td class="error" th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}">E-mail Error</td>
					</tr>
					<tr>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" th:field="*{password}"
							th:required="required" /></td>
						<td class="error" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">Password Error</td>
					</tr>
					<tr>
						<td><input type="submit" value="login" /></td>
					</tr>
					<tr>
						<td></td>
						<td><a href="/userRegistration"><button type="button">Create
									an Account</button></a></td>
						<td></td>
					</tr>
				</table>
			</form>
		</fieldset>
	</div>
</body>
</html>