<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript"> 
	$(document).ready(function () {
		alert("Document loaded");
		});
</script>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Varia Librorum User Management</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Welcome to Varia Librorum</h1>
		</div>
		<fieldset>
			<legend>User Management</legend>
			<p class="error" th:text="${errorMessage}"></p>
			<form action="#" th:action="@{/userManagement}"
				th:object="${userManagementForm}" method="post">
				<table>
					<tr>
						<td>Name</td>
						<td><input type="text" th:field="*{name}" /></td>
						<td class="error" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}">Name Error</td>
					</tr>
					<tr>
						<td>E-mail</td>
						<td><input type="text" th:field="*{email}" /></td>
						<td class="error" th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}">E-mail Error</td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" th:field="*{password}" /></td>
						<td class="error" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">Password Error</td>
					</tr>
					<tr>
						<td><button type="submit">Submit</button></td>
					</tr>
				</table>
			</form>
		</fieldset>
		<br />
		<br />
			<fieldset>
		<legend>Users List</legend>
		<table class="resltTable">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Link</th>
			</tr>
				<tr th:each="user: ${users}">
					<td th:text="${user.name}">User Name</td>
					<td th:text="${user.email}">User E-mail</td>
					<td><a href="getUser?id=${user.id}"> Edit</a></td>
				</tr>
		</table>
	</fieldset>
	</div>
</body>
</html>